<VirtualHost example.org>

	ServerAdmin webmaster@example.org
	DocumentRoot /www/vhosts/example.org/public
	ServerName example.org
	ErrorLog /var/log/httpd/example.org-error_log
	CustomLog /var/log/httpd/example.org-access_log common

	# Our rewrite rules
	RewriteEngine On
	RewriteRule ^/$ /cache/index.html
	RewriteRule ^(/js[^.]+(.js))$ /cache/$1
	RewriteRule ^([^.]+)$ /cache/$1.html
	
	# Point errors to a path handled by Rails. 
	ErrorDocument 404 /rescue/404
	ErrorDocument 403 /rescue/403

</VirtualHost>